.body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    background-color: #f4f4f4;
    letter-spacing: 2px;
    justify-content: space-around;
}

header {

    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.6s;
    z-index: 100000;
    background: var(--text);
    color: var(--text-inverse);
    border-color: var(--text);

}
nav {
    position: absolute;
    width: 100%;
    height: 70px;
}

.nav-scrolled {
    background: white;
    text-decoration: none;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    height: 70px;
}

.navbar-logo {
    z-index: 10;
    background-image: url(/images/anett-logo-white.svg);
    background-repeat: no-repeat;
}

.navbar-logo-scrolled {
    background-image: url(/images/anett-logo-black.svg);
    background-repeat: no-repeat;
}


.nav-link {
    --spacing: 1em;
    text-decoration: none;
    color: rgb(238, 239, 243);
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    letter-spacing: 1px;
    font-size: 13px;
    margin-left: -8%;
    
}


.nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 12px;
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    transition: -webkit-transform 0ms ease-in-out;
    transition: transform 0ms ease-in-out;
    transition: transform 0ms ease-in-out, -webkit-transform 0ms ease-in-out;
}

.nav-link:hover::after {
    -webkit-transform: scaleX(1);
        transform: scaleX(1);
}

.nav-link-scrolled {
    color: black;
}
 
.nav-span {
    font-weight: 600;
    letter-spacing: .085em;
}


.nav-link-btn {
    border: 0.9px solid white;
    border-radius: 2em;
    margin-left: 0em;
    background-color: 250ms ease-in-out;
    padding: 1.2em 1.7em;
    font-size: 8px;
    font-weight: 100;
    
}

.nav-link-btn:hover {
    --text: #f4f4f4;
    --text-inverse: #333;
    --background: transparent;
    background: var(--text);
    color: var(--text-inverse);
    border-color: var(--text);
}

.nav-link-btn:after {
    display: none;
}

.diagonal{
    transform: rotate(-3deg);

}
.non-diagonal {
    margin-top: 3%;
    transform: rotate(3deg);
}

.img-fluid {
    width: 100%;
    height: auto;
}

#img1 {
    height: 690px;
}

.text {
    color: white;
}

.main-text {
    color: black;
    background-color: red;
}

#img2 {
    position: absolute;
    left:0px;
    top: 100px;
    max-width: 56%;
    height: auto;
}

#anett-text {
    font-family: 'Stainy Personal Use Only', sans-serif;
    width: 500px;
    position: absolute;
    top: 200px;
    color: white;
    font-size: 160px;
    transform: rotate(-7deg);
}

.divider {
    top: 100px;
}

.sponsors {
    position: absolute;
    height: 250px;
    width: 101%;
    left: -6px;
    top: 650px;
    color: black;
    background-color: white;
    align-items: center;
    text-align: center;
    padding: auto;
}

.sponsors-img {
    height: 120px;
    width: auto;
    z-index: 10;
    margin: 1%;
    margin-top: -2%;
}

.content {
    margin-top: 400px;
}

.hr {
    width: 200px;
    height: 50px;
    color: white;
    z-index: 100;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFd2JQEl8qw.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/*
.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 3em;
    width: 100%;
    background-color: #EEE;
    box-sizing: border-box;
    padding: 12px 18px;
    box-shadow: 0px 4px 7px #777;
    transition: background-color 0.4s ease-out;
}
*/

